body {
   background-color: rgba(87, 84, 84, 0.637);
    font-style: italic 15pt times ;
    padding-left: 15px; /*margem*/
}

header{
       color: rgb(255, 255, 255);
       text-align: center;
       


}
section{
    background: rgb(5, 5, 5);
    border-radius: 10px;
    padding:  15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(204, 5, 5, 0.884);
    



}

div {
   text-align: center;
   padding: 50px;
   color: beige;
 

}
option{ /*o quadrado dentro da div*/
    padding: 8px;
    text-align: center;
    
}


footer{
    color: rgb(34, 9, 9);
    text-align: center;
    font-style: italic;

}
